 /*Homepage - Main Laning page*/


.main-landing-page {
	background: url(../img/test-bg.jpg)no-repeat center center fixed;
	background-size: cover;
}

/*.main-header {
	background: #fff;
	height: 80px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}*/







/*// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }*/

